# How to Construct Pandas DataFrame Objects

In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.DataFrame?

In [3]:
states_capitals = {'Karnataka':'Bangalore', 'AndhraPradesh':'Hyderabad','TamilNadu':'Chennai', 'Kerala':'Thiruvanathapuram',
                   'Maharashtra':'Mumbai'}

In [4]:
states_lang = {'Karnataka':'Kannada', 'AndhraPradesh':'Telugu','TamilNadu':'Tamil',
               'Kerala':'Malayalam','Maharashtra':'Marathi'}

In [5]:
states_CL = pd.DataFrame({'Capitals':states_capitals,'Language':states_lang})
states_CL

                        Capitals   Language
Karnataka              Bangalore    Kannada
AndhraPradesh          Hyderabad     Telugu
TamilNadu                Chennai      Tamil
Kerala         Thiruvanathapuram  Malayalam
Maharashtra               Mumbai    Marathi

In [6]:
print(states_CL)

                        Capitals   Language
Karnataka              Bangalore    Kannada
AndhraPradesh          Hyderabad     Telugu
TamilNadu                Chennai      Tamil
Kerala         Thiruvanathapuram  Malayalam
Maharashtra               Mumbai    Marathi

In [7]:
d_list = {'a':[0,1,2,3,4], 'b':[0,2,4,6,8], 'c':[0,3,6,9,12]}
d_list

{'a': [0, 1, 2, 3, 4], 'b': [0, 2, 4, 6, 8], 'c': [0, 3, 6, 9, 12]}

In [8]:
df_list = pd.DataFrame(d_list)
df_list

   a  b   c
0  0  0   0
1  1  2   3
2  2  4   6
3  3  6   9
4  4  8  12