# How To Construct Pandas Series

In [5]:
import pandas as pd
import numpy as np

In [6]:
pd.Series?

In [7]:
list = [1.0, 2.0, 0.3, 0.4, 0.5, 0.6]

In [8]:
ser_list = pd.Series(list)
ser_list

0    1.0
1    2.0
2    0.3
3    0.4
4    0.5
5    0.6
dtype: float64

In [9]:
pd.Series([1.0,2.0,0.3,0.4,0.5,0.6])

0    1.0
1    2.0
2    0.3
3    0.4
4    0.5
5    0.6
dtype: float64

In [10]:
dic = {1:'A', 2:'B', 3:'C', 1:'D' ,4:'E', 6:'F'}

In [11]:
ser_dic = pd.Series(dic)
ser_dic

1    D
2    B
3    C
4    E
6    F
dtype: object

In [12]:
ser_scalar = pd.Series(5, index=[1,2,3,4,5])
ser_scalar

1    5
2    5
3    5
4    5
5    5
dtype: int64

In [13]:
ser_index = pd.Series({1:'A', 2:'B', 3:'C', 1:'D' ,4:'E', 6:'F'}, index =[1,2,3])
ser_index

1    D
2    B
3    C
dtype: object

In [17]:
ser_csv = pd.read_csv('Random.csv')
ser_csv

,S.No.,STATE,DISTRICT,BLOCK,MCLF NAME,MCLF CODE
0,1,ANDAMAN AND NICOBAR,NORTH AND MIDDLE ANDAMAN,DIGLIPUR,DEVI SHAKTI BLOCK LEVEL FEDERATION,AN/NO/DPUR/39400

In [18]:
ser_csv['STATE']

0    ANDAMAN AND NICOBAR
Name: STATE, dtype: object

In [19]:
print(type(ser_csv))
print(type(ser_csv["STATE"]))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>