# print("Hello World")

print("Rajan")

In [1]:
print("Hello World")

Hello World

In [3]:
import pandas as pd

In [4]:
pd.__version__

'1.4.4'

In [5]:
pd?

In [8]:
pd??

In [9]:
help(pd)

C:\Users\Sharmajee\anaconda3\lib\inspect.py:351: FutureWarning: pandas.Float64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  value = getattr(object, key)
C:\Users\Sharmajee\anaconda3\lib\inspect.py:351: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  value = getattr(object, key)
C:\Users\Sharmajee\anaconda3\lib\inspect.py:351: FutureWarning: pandas.UInt64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  value = getattr(object, key)
IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [11]:
pd.Series("Rajan")

0    Rajan
dtype: object

In [14]:
pd.DataFrame(2,"Rajan")

ValueError: DataFrame constructor not properly called!

In [15]:
titanic = pd.read_csv('Random.csv')
titanic

,S.No.,STATE,DISTRICT,BLOCK,MCLF NAME,MCLF CODE
0,1,ANDAMAN AND NICOBAR,NORTH AND MIDDLE ANDAMAN,DIGLIPUR,DEVI SHAKTI BLOCK LEVEL FEDERATION,AN/NO/DPUR/39400

In [16]:
titanic.head()

,S.No.,STATE,DISTRICT,BLOCK,MCLF NAME,MCLF CODE
0,1,ANDAMAN AND NICOBAR,NORTH AND MIDDLE ANDAMAN,DIGLIPUR,DEVI SHAKTI BLOCK LEVEL FEDERATION,AN/NO/DPUR/39400

In [17]:
titanic.columns

Index(['S.No.', 'STATE', 'DISTRICT', 'BLOCK', 'MCLF NAME', 'MCLF CODE'], dtype='object')

In [18]:
titanic.index

RangeIndex(start=0, stop=1, step=1)

In [19]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   S.No.      1 non-null      int64
 1   STATE      1 non-null      object
 2   DISTRICT   1 non-null      object
 3   BLOCK      1 non-null      object
 4   MCLF NAME  1 non-null      object
 5   MCLF CODE  1 non-null      object
dtypes: int64(1), object(5)
memory usage: 176.0+ bytes

In [20]:
titanic.describe()

       S.No.
count    1.0
mean     1.0
std      NaN
min      1.0
25%      1.0
50%      1.0
75%      1.0
max      1.0

In [22]:
titanic.shape

(1, 6)

In [23]:
type(titanic)

pandas.core.frame.DataFrame

In [25]:
Servived = titanic['S.No.']
print(Servived)

0    1
Name: S.No., dtype: int64

In [26]:
print(type(Servived))

<class 'pandas.core.series.Series'>